body {
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.label {
  color: white;
}

th,
td,
td {
  color: white;
}

.buttonsAdd {
  color: white;
  background-color: teal;
  border-radius: 5px;
}
.buttonsAdd:hover {
  color: teal;
  background-color: white;
  transition: 0.5s;
}

.buttonsCancel {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.buttonsCancel:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}
